.resultbox {
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#ResultContainer {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    display:none;
    flex-direction: column;
    gap: 20px;
    
}

.result-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 420px;
}