body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
.resultbox {
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6aa18c;
    width:90%;
}
#ResultContainer {
    border: solid black 2px;
    background-color: #967878;
    font-family: Arial, sans-serif;
    margin: 5px;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width:99%;
    
}
.navigation {
    border: solid black 2px;
    background-color: #5a5788;
    text-align: center;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.result-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 420px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header {
    border: solid black 2px;
    background-color: #5a5788;
    text-align: center;
    margin: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width:95%;
}
h1 {
    font-size: 36px;
    margin: 0;
}

.result-image {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}
.box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding:20px;
}
.buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


@media only screen and (max-width: 640px) {
    .result-card {
        width: 90%;
    }
    .result-image {
        width: 90%;
    }
}